header{
    display: flex;
    justify-content: space-between;
}
header > div{
    height: 50px;
    line-height: 50px;
}
header > div > h1{
    margin: 0px;
}

#play{
    padding: 0px 30px;
    background-color: darkcyan;
    cursor: pointer;
    margin-right: 30px;
}

.griglia{
    background-color: cyan;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}


.container-griglia{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
   
    width: 800px;
    height: 800px;
}

.box{
    width: calc(100% / 10); 
    height: calc(100% / 10);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
   
    
    border: 3px solid black;
}

.box.active{
    background-color: chartreuse;
 }

/* .normal{
    width: calc(100% / 9); 
    height: calc(100% / 9);
}

.hard{
    width: calc(100% / 7); 
    height: calc(100% / 7);
} */
